python == 3.10.6

numpy == 1.26.4
pandas == 2.3.3
scipy == 1.14.1
geopandas == 1.1.1
osmnx == 2.0.5
sklearn == 1.5.2

torch == 2.2.1+cu121
transformers == 4.51.3
torch_geometric == 2.5.2
torch_geometric_temporal == 0.54.0
ollama == 0.5.1

tqdm == 4.67.2
matplotlib == 3.10.1
scienceplots == 2.1.1